<a href="https://colab.research.google.com/github/seoboran/project1/blob/master/200825_%EC%BD%94%EB%A1%9C%EB%82%98_%EC%8B%9C%EB%8C%80_%EC%82%B0%EC%97%85_%EB%B6%84%EC%84%9D1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
from IPython.display import Image

In [57]:
# # 구글 드라이브에서 csv 파일을 읽어오기 위해 gauth 인증
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from google.colab import drive 

ROOT = "/content/drive"    
print(ROOT)                 
drive.mount(ROOT)

/content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
%pwd

'/content'

In [7]:
%ls

drive/  sample_data/

In [8]:
%cd drive/'My Drive'/'Colab Notebooks'

/content/drive/My Drive/Colab Notebooks

In [9]:
%pwd

'/content/drive/My Drive/Colab Notebooks'

In [ ]:
%ls

In [45]:
import pandas as pd
from pandas.io import gbq

index = pd.read_csv('index.csv')
index

        period     catl    catm  age gender sido sigungu         cgi
0       201901  건강/의료용품  건강관리용품   20      F   서울     관악구  115.374642
1       201901  건강/의료용품  건강관리용품   20      F   서울     광진구  119.596454
2       201901  건강/의료용품  건강관리용품   20      F   서울     도봉구  156.992847
3       201901  건강/의료용품  건강관리용품   20      F   서울     동작구   58.342726
4       201901  건강/의료용품  건강관리용품   20      F   서울     마포구  145.147595
...        ...      ...     ...  ...    ...  ...     ...         ...
127520  202005      화장품     화장품  all    all   서울     강서구   51.365660
127521  202005      화장품     화장품  all    all   서울     관악구   61.997865
127522  202005      화장품     화장품  all    all   서울     금천구   82.198402
127523  202005      화장품     화장품  all    all   서울     도봉구   35.875600
127524  202005      화장품     화장품  all    all   서울     용산구   45.569377

[127525 rows x 8 columns]

In [12]:
index.head()

   period     catl    catm age gender sido sigungu         cgi
0  201901  건강/의료용품  건강관리용품  20      F   서울     관악구  115.374642
1  201901  건강/의료용품  건강관리용품  20      F   서울     광진구  119.596454
2  201901  건강/의료용품  건강관리용품  20      F   서울     도봉구  156.992847
3  201901  건강/의료용품  건강관리용품  20      F   서울     동작구   58.342726
4  201901  건강/의료용품  건강관리용품  20      F   서울     마포구  145.147595

### 변수 설명
- period= 기준월
- catl=대분류
- catm=중분류
- age=연령대
- gender=성별
- sido=서울시
- sigungu= 구별 분류
- cgi=카테고리성장지수()
(100을 기준으로 이상이면 매출 상승, 이하면 하락) -> 소비 지수

## 정보 확인

In [46]:
index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127525 entries, 0 to 127524
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   period   127525 non-null  int64
 1   catl     127525 non-null  object
 2   catm     127525 non-null  object
 3   age      127525 non-null  object
 4   gender   127525 non-null  object
 5   sido     127525 non-null  object
 6   sigungu  127525 non-null  object
 7   cgi      127525 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 7.8+ MB

In [15]:
index.shape

(127525, 8)

In [16]:
index['catm'].unique()

array(['건강관리용품', '가공식품', '기호식품', '담배', '빙과류', '빵류', '신선식품', '유제품류', '음료',
       '제과류', '주류', '생활용품', '애완동물용품', '기타화장품', '바디/헤어용품', '뷰티소품', '화장품'],
      dtype=object)

### 19~20년 5월까지 소비지수 추이 확인

In [48]:
index2=index.groupby('period').mean()
index2=index2.reset_index()
index2

    period         cgi
0   201901  104.606597
1   201902   91.543648
2   201903  101.346404
3   201904   98.113456
4   201905  105.569370
5   201906  106.861123
6   201907  107.665693
7   201908  113.932133
8   201909  104.759690
9   201910   96.837257
10  201911   93.267420
11  201912  102.158676
12  202001  103.048132
13  202002   91.084384
14  202003   89.339223
15  202004   84.443711
16  202005   79.545826

In [49]:
# 이해하기 쉽게 period value값 변경 
index2['period'] = ['19년 01월','19년 02월','19년 03월','19년 04월','19년 05월','19년 06월','19년 07월','19년 08월','19년 09월','19년 10월','19년 11월','19년 12월','20년 1월','20년 2월',
                    '20년 3월','20년 4월','20년 5월']

In [50]:
index2

     period         cgi
0   19년 01월  104.606597
1   19년 02월   91.543648
2   19년 03월  101.346404
3   19년 04월   98.113456
4   19년 05월  105.569370
5   19년 06월  106.861123
6   19년 07월  107.665693
7   19년 08월  113.932133
8   19년 09월  104.759690
9   19년 10월   96.837257
10  19년 11월   93.267420
11  19년 12월  102.158676
12   20년 1월  103.048132
13   20년 2월   91.084384
14   20년 3월   89.339223
15   20년 4월   84.443711
16   20년 5월   79.545826